@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Kanit:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'lato';
}
.links{
    /* border: 1px solid red; */
    width: 100%;
}
.navbar{
    width: 80vw;
    /* border: 1px solid red; */
    height: 10vh;
    display: block;

}
.navbar-brand img{
    width: 80%;
}
.links li a{
    color: #000;
    font-family: 'lato';
    font-weight: 300;
    font-size: 15px;
}
.links li a:hover{
    color: #17cfee;
}
.links li a:active{
    color: #17cfee;
}
.first-link{
    /* border: 1px solid blue; */
    width: 30%;
}
.sec-link{
    /* border: 1px solid blue; */
    width: 30%;
}
.drop-menu{
   width: 90%;
}
.drop{
width: 35vw;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);    

}
.button{
    font-family: 'lato'; 
    font-size: 16px !important;
}
.items{
    color: #0a6da2;
    font-weight: 600;
    font-family: 'lato';
    margin-top: 2vh;
    font-size: 16px;
}
.items a{
    text-decoration: none;
    color: #7f8d98 !important;
    margin-top: 2vh;
    font-size: 14px;
}
/* Navigation ends */


.hero{
    width: 80%;
    margin-top: 2.5vh !important;
    
}
.hero-text h1{
    font-family: 'lato';
    color: #000000be;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 5vh !important;
}
.card-one{
    width:30%;
    height: 8vh;
    box-shadow: 0px 0px 6px #00000041;

}
.card-color-home{
    width: 25%;
}
.card-color-home i{
    color: #ffffff;
    font-size: 30px;
}
.card-text-home h1{
    font-family: 'lato';
    font-size: 15px;
    /* border: 1px solid red; */
    font-weight: 200 !important;
}
.card-text-home{
    width: 50%;
    /* border: 1px solid blue; */
    margin-left: 30px;
}
/* services section */
.services{
    width: 80%;
    flex-wrap: wrap !important;
    height: 30vh;
}
.bright-blue{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.bright-blue:hover{
    border: 1px solid #41d1b8;
    color: #41d1b8;
    transition: border-color 0.1s ;
}
.green{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.green:hover{
    border: 1px solid #8bc43e;
    color: #8bc43e;
    transition: border-color 0.1s ;
}
.green-fi{
    background: #8bc43e;
    width: 30%;
}
.green-fi i{
    font-size: 30px;
}
.blue
{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.blue:hover{
    border: 1px solid #04cded;
    color: #04cded;
    transition: border-color 0.1s ;
}
.blue-fi{
    background: #04cded;
    width: 30%;
}
.card-area{
    width: 80%;
}
.card{
    box-shadow: 0.5px 2px 5px #00000041;
    width: 16rem;
}
.card-color-services{
    background: #41d1b8;
    width: 30%;
}
.card-color-services i{
    color: #ffffff;
    font-size: 30px;
}
.card-title{
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center; 
}
.card-title h1{
    font-size: 13px;
    font-weight: 300;
    font-family: 'poppins';
    /* border: 1px solid red; */
}
.card-title a{
    text-decoration: none;
    color: #000;
}
.card-title:hover a{
    color: #17cfee;
    transition: 0.3s;
}
.card-title a i{
    font-size: 15px;
}
.manual-work{
    margin-top: -10vh;
}
.manual-text h1{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
.manual-text p{
    font-size: 15px;
}
.furniture{
    margin-top: 10vh !important;
}
.furniture-text p{
    font-size: 15px;
}
.furniture-text h1{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}



/* Guarantee sec */
.guarantee{
    height: 100vh;
    margin-top: 10vh;
}
.title{
    background: #f4f4f4;
    height: 20%;
}
.title p{
    color: #464646;
}
.head{
    width: 80%;
    text-align: center;
    font-family: 'lato';
}
/* .head-one{
   border: 1px solid red;   
} */
.head-one h1{
    color: #434343;
    font-size: 30px;
    margin-left: 10px;
    letter-spacing: .5px;
}
.head-one i{
    color: #234a84;
    font-size: 40px;
}
.guarantee-items{
    background: #234a84;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40% !important;
    height: 80vh;
}
.guarantee-text-image img{
    width: 100px;
    border-radius: 50%;
}
.guarantee-text{
    width: 55%;
    color: #ffffff;
    font-family: 'lato';
  
}
.guarantee-text h1{
    font-size: 35px;
    letter-spacing: .5px;
}
.guarantee-img img{
    height: 80vh;
}




/* Get the app  */
.get-app-overview{
    width: 80%;
    height: 100%;
}
.image-part{
    width: 30% !important;
}
.get-app-text{
    font-family: 'lato';
    letter-spacing: .5px;
}
.texts{
    line-height: 2em;
    font-size: 30px;
}
.texts-two{
    line-height: 1.8em;
}
.buttons button img{
    width: 200px;
}
.buttons button {
    border: none;
    
}
/* HOME PRODUCt */
.products{
    height: 80vh;

}

.product-collection{
    background: url(/images/room.png);
    height: 90%;

    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.products-text{
    width: 30%;
    padding-top: 160px !important;
    margin-left: 200px !important;
    font-family: 'lato';
}
.products-text h1{
    font-size: 30px;

}
.products-text p{
    line-height: 1.8em;
}
.products-text button{
    margin-top: 4vh;
    background: #234a84;
    font-family: 'lato';
    font-weight: 300 !important;
    font-size: 17px;
    height: 50px    ;
}
.products-text button i{
    font-size: 17px;
}
/* HIRE ME */
.hire-me{
    font-family: 'lato';
    height: 80vh;
}
.hire-me-text p{
    width: 80%;
}
.hire-me-text h1{
    word-spacing: .5px;
}
.hire-me-text button{
    font-family: 'lato';
    width: 50%;
    height: 7vh;
}
.partners-sec{
    background: #f4f4f4;
    width: 100vw;
}
.partner{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'lato';
}
.partners-logo img{
    width: 30%;
    margin-top: 5vh;
}
.partner button{
    font-family: 'lato';
    margin-top: 5vh;
    width: 25%;
    height: 10%;
}
/* SEARCH */
.search{
    height: 70vh;
}
.search-result{
    width: 80%;
    height: 60%;
    box-shadow: 0px 0px 10px 0.5px #00000041;
} 
.search-result h1{
    font-size: 25px;
    font-family: 'lato';
    width: 95%;
    margin-bottom: 4vh;
    margin-left: 4vw;
}
.search-result p{
    line-height: 0.6rem;
    font-family: 'lato';
}
.places{
    width: 80%;
    margin-left: 4vw;
}
.search-result a{
    color: #000;
    text-decoration: none;
}
.search-result a:hover{
    color: #000;
}
/* footer */
.footer{
    padding-top: 5vh;
    height: 100vh;
    background: #1d1d1d;
}
.footer-items{
    /* border: 1px solid red; */
    width: 90% !important;
    margin-left: 10vw;
    font-family: 'lato';
}
.footer-one{
    width: 80%;
}
.footer-one a{
    text-decoration: none;
}
.footer-one h5{
    color: #606060;
    font-size: 16px;
    font-weight: 600;
}
.footer-one div:nth-child(1) a{
    color: #f2f2f2;
}
.footer-one div:nth-child(1) a::after{
    content: "";
    width: 100%;
   display: none;
    background: #f2f2f2;
    height: 1px;
}
.footer-one div a{
    color: #606060;
    font-size: 14px;
    line-height: 1.9em;
    width: fit-content;
}
.footer-one div a::after{
    content: "";
    width: 100%;
   display: none;
    background: #606060;
    margin: 0;
    height: 1px;
}
.footer-one div a:hover::after{
    display: block;
}
.footer-one div  select{
    background: #1d1d1d;
    border: 1px solid #f2f2f2;
    color: #606060;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}
.apple-btn-text{
    border: 1px solid red;
}
.apple-btn{
    width: 160px;
    height: 45px;
    background: #000000;
    border: 1px solid #565656;
    border-radius: 5px;
}
.apple-btn img{
    width:120px;
}
.footer-get-app{
    width: 25.5%;
    
}
.socials{
    width: 26%;
}
.socials a{
    text-decoration: none;
    color: #888888;
    width: 40px;
    height: 40px;
    border: 1px solid #888888;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials a:hover{
    color: #888888;
}
hr{
    border: none;
  height:  2px !important;
  width: 90%; 
  background-color: #fff !important;
}
 .other-services{
    width: 80%;
}
.more-service h4{
    color: #efefef;
    font-size: 14px;
}
.other-services a{
    text-decoration: none;
    color: #777777;
    font-size: 14px;
    line-height: 2.15em;
}
.other-services a:hover{
    color: #777777;
}
.other-services  a::after{
    content: "";
    width: 100%;
   display: none;
    background: #777777;
    margin: 0;
    height: 1px;
}
.other-services a:hover::after{
    display: block;
}
.footer-end{
    width: 90%;
}
.footer-end a{
    text-decoration: none;
    color: #777777;
    font-size: 14px;
}
.footer-end h6{
    width: 12%;
    color: #f4f4f4;
    font-size: 14px;
    
}
.footer-end p{
    font-weight: 500;
    font-size: 14px !important;
    margin: 0 !important;
}
.powered{
    font-weight: 600 !important;
}

.hamburger-nav{
    display: none !important;
    margin-top: 2vh;
    width: 90%;
    font-family: 'lato';
}

.nav-logo img {
    width: 70%;
}
 .hamburger-nav main{
    width: 100vw;

}
.nav-items li {
    line-height: 2.5em;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: #7b7b7b;
}

hr{
    border: none;
    height: 1px !important;
    width: 90%;
    background-color: #7b7b7b !important;
}
.nav-items-body{
    position: absolute;       
}
.nav{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: fixed !important;
    left: 80%;
    transition: 0.5s;
    z-index: 2;
    border-left:2px solid #f1f1f1 !important;

}
.nav.active{
    left: 20%;
}
.omo.active{
    right: 80%;
}

@media screen and (max-width:425px) and (min-width:310px) {
    body{
        position: relative;
        overflow-x: hidden !important;
    }
    .navbar {
        display: none !important;
    }
    .omo{
        height: 100vh;
        width: 100vw;
        display: block;
        position: absolute;
        top: 0;
        right: 0%;
        transition: 0.6s;
    }
    .card-one{
        width: 100vw;
        flex-wrap: wrap;
        /* box-shadow: 1px 1px 1px #00000041; */
        box-shadow: none;
        border: 0.5px solid #00000041;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-text{
        width: 95%;

        margin: 0 auto;
    }
    .services{
        width: 100vw;
        height: fit-content;
    }
    .hero{
        width: 100%;
    }
    .card-area{
        width: 90%;
    }
    .hero-text h1{
        font-size: 30px;
        line-height: 1.5em;
    }
    .card-color-home{
        width: 20%;
    }
    .card-color-services{
        width: 20%;
    }
    .manual-work{
        margin-top: 5vh;
    }
     .card{
        width: 40% !important;
        margin-top: 2vh;
        border-radius: 0px !important;
    }
    .card-sec{
        flex-wrap: wrap;
    }
    .card-title{
        width: 100%;
    }
    .card-title h1{
        font-size: 8px;
    }
    .card-title a i{
        font-size: 10px;
    }

    /* GUARANTESS */
    .title{
        padding: 4px 0;
    }
    .text-info{
        text-decoration: none;
    }
    .guarantee-img {
        display: none !important;
    }
    .guarantee {
        height: auto;
    }
    .guarantee-items{
        height: auto;
    }
    .head-one{
        flex-direction: column;
    }
    .head-one h1{
        font-size: 25px;
    }
    .head p{
        font-size: 15px;
        line-height: 1.5rem;
        text-align: center;
    }

}