@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Kanit:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap');

.links{
    /* border: 1px solid red; */
    width: 100%;
}
.navbar{
    width: 80vw;
    /* border: 1px solid red; */
}
.navbar-brand img{
    width: 80%;
}
.links li a{
    color: #000;
    font-family: 'lato';
    font-weight: 300;
}
.links li a:hover{
    color: #17cfee;
}
.links li a:active{
    color: #17cfee;
}
.first-link{
    /* border: 1px solid blue; */
    width: 30%;
}
.sec-link{
    /* border: 1px solid blue; */
    width: 30%;
}
.drop-menu{
   width: 90%;
}
.drop{
width: 35vw;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);    

}
.button{
    font-family: 'lato'; 
    font-size: 16px !important;
}
.items{
    color: #0a6da2;
    font-weight: 600;
    font-family: 'lato';
    margin-top: 2vh;
    font-size: 16px;
}
.items a{
    text-decoration: none;
    color: #7f8d98 !important;
    margin-top: 2vh;
    font-size: 14px;
}
/* Navigation ends */
.hero{
    width: 80%;
    margin-top: 2.5vh !important;
    
}
.hero-text h1{
    font-family: 'poppins';
    color: #000000be;
    font-weight: 500;
}
.card-one{
    width:26%;
    height: 10vh;
    box-shadow: 4px 4px 7px #00000041;
}
.card-color-home{
    width: 40%;
}
.card-color-home i{
    color: #ffffff;
}
.card-text-home h1{
    font-family: 'lato';
    font-size: 20px;
    font-weight: 300 !important;
}
.card-text-home{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
